<!DOCTYPE html>
<html>
  <head>
    <title><% title %></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link rel='stylesheet' href='/stylesheets/style.css'>
  </head>
  <body>
  <div class="wrapper">
    <p>ようこそ、サンプル掲示板へ！</p>
    <a href="/login" class="btn">ログイン</a>
    <a href='/register' class='btn'>新規登録</a>
  </div>
  </body>
</html>